
#contenidoprincipal {
    height: 740px;
}

#contenido {
    width: 750px;
    height: 450px;
    margin: 1px auto;
    padding: 0 20px;
    border: solid 20px green;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px 4px rgba(119, 119, 119, 0.75);
}

p {
    color: red;
    font-size: 30px;
    font-weight: bold;
    margin: 10px auto;
}


#contenido h1 {
    font-size: 27px;
    font-family: 'Rock Salt', cursive;
}

.respuesta {
    border: solid 5px green;
    padding: 5px 10px;
    font-size: 27px;
    font-family: cursive;
}

.marcop {
    font-size: 20px;
    height: 40px;
}

form + h1 {
    margin: 70px auto;
    color: red;
}
